/* ====================1024px - 1200px==================== */

@media only screen and (max-width: 1200px){
    html{
        font-size: 15px;
    }

    .heading-main-box{
        transform: translate(-30%, -50%);
    }

    form{
        margin-left: 25%;
    }
}

/* ====================768px - 1023px===================== */

@media only screen and (max-width: 1023px){

    /* ---------------HEADER-------------- */

    .logo{
        width: 350px;
        margin-left: 40px;
    }   

    .main-nav{
        margin-top: 40px;
        margin-right: 15px;
    }

    .main-nav li{
        margin-right: 10px;
    }

    .heading-main-box{
        transform: translate(-20%, -50%);
    }

/* -----------PRODUCT SECTION--------- */

    .products-section .btn{
        width: 50%;
        margin-left: 10%;
    }

    .products-box{
        width: 95%;
    }

    h3{
        font-size: 100%;
    }

    .social-icons li{
        margin-left: 10px;
    }

    .information i{
        display: block;
    }
}

/* =====================671px - 767px===================== */

@media only screen and (max-width: 767px){

/* ---------------HEADER-------------- */

    .col{
        width: 100%;
    }

    .main-nav{
        display: none;
    }

    .mobile-nav-icon{
        display: block;
    }

    .logo{
        width: 450px;
        margin-left: 13%;
    }

    h1{
        word-spacing: 3px;
        margin-top: -10%;
        font-size: 300%;
    }

    .heading-main-box{
        left: 30%;

    }

    .heading-main-box .btn{
        width: 50%;
    }

    /* ------------ABOUT SECTION----------- */

    .about-section .row .p-long{
        font-size: 25px;
    }

    .about-picture{
        text-align: center;
    }

    .picture-title{
        font-size: 25px;
    }

    /* -----------PRODUCT SECTION---------- */

    .product-section .btn{
        width: 40%;
        margin-left: 20%;
    }

    .product-box ul li{
        margin-left: 30%;
    }

    /* --------TESTIMONIALS SECTION-------- */

    .testimonials-section .row .col{
        margin-bottom: 50px;
    }

    /* ----------SPONSORS SECTION---------- */

    .logo-sponsor{
        width: 80%;
    }

    figcaption{
        font-size: 15px;
    }

    /* ------------CONTACT FORM------------ */

    form{
        width: 85%;
        margin-left: 1%;
    }

    label{
        margin-left: 40%;
    }

    .information{
        margin-left: 20%;
        font-size: 20px;
        text-align: center;
        margin-left: 5%;
    }

    .social-icons{
        text-align: center;
    }

    .social-icons li{
        font-size: 50px;
        margin-bottom: 20px;
    }

}

/* ======================481px - 670px====================== */

@media only screen and (max-width: 670px){
    .mobile-nav-icon{
        top: 80px;
        right: 20px;
    }
}

/* ======================0px - 480px====================== */

@media only screen and (max-width: 480px){
    html{
        font-size: 12px;
    }

    /* ---------------HEADER-------------- */

    h1{
        font-size: 230%;
    }

    .logo{
        width: 300px;
        margin-top: 5%;
        margin-left: 8%;
    }

    .heading-main-box{
        transform: translate(-10%, -60%);
        top: 70%;
    }

    .heading-main-box .btn{
        display: block;
        margin-bottom: 20px;
        margin-left: 5%;
    }
    
    /* ------------CONTACT FORM------------ */

    .information li{
        font-size: 14px;
    }

    .social-icons li{
        font-size: 35px;
    }

    .mobile-nav-icon{
        top: 105px;
        right: 10px;
    }
    
    .sticky .logo{
        width: 300px;
        margin-top: -45px;
        margin-left: 15px;
    }
}